body {
    background-color: #393b3c;
    color: #bdc3c6;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    margin: 30px;
}

.rendered-markdown {
    max-width: 659px;
    margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "pt-sans-narrow", sans-serif;
    clear: left;
}


h1,
h2  {
    font-family: 'pt-sans-narrow', sans-serif;
    color:  #ffffff;
    font-size: 22px;
    background-color: #393b3c;
    display: inline-block;
    padding: 0 10px;
    margin: 26px auto 20px -11px;
    float: left;
}

h1:before,
h2:before {
    background: url("https://d2g7ua7d94r3fl.cloudfront.net/assets/images/guides/header-dot-blue-c8758d86.png") repeat-x center;
    content: "";
    position: absolute;
    height: 5px;
    right: 0;
    width: 100%;
    margin-top: 10px;
    z-index: -1;
}


h1 {
    font-size: 24px;
}

h3 {
    font-size: 22px;
    margin: 20px 0 10px;
}

h4 {
    font-size: 18px;
    margin: 15px 0 8px;
}

h5 {
    font-size: 16px;
    margin: 15px 0 8px;
}

h6 {
    font-size: 14px;
    margin: 15px 0 8px;
}

p,blockquote,ul,ol,dl,table,pre {
    margin: 15px 0;
}

hr {
    border: none;
    border-top: 1px solid #585858;
    height: 1px;
    padding: 0;
}

h2:first-child,
h1:first-child,
h1:first-child+h2,
h3:first-child,
h4:first-child,
h5:first-child,
h6:first-child {
    margin-top: 0;
    padding-top: 0;
}

a:first-child h1,
a:first-child h2,
a:first-child h3,
a:first-child h4,
a:first-child h5,
a:first-child h6 {
    margin-top: 0;
    padding-top: 0;
}

h1+p,h2+p,h3+p,h4+p,h5+p,h6+p {
    margin-top: 0;
}

h1+*,h2+* {
    clear: left;
}

abbr {
    border-bottom: 1px dashed #bdc3c6;
}

ul, ol {
    padding-left: 0;
}

ul li>:first-child,
ul li ul:first-of-type,
ol li>:first-child,
ol li ul:first-of-type {
    margin-top: 0px;
}

ul ul,ul ol,ol ol,ol ul {
    margin-bottom: 0;
}

dl {
    padding: 0;
}

dl dt {
    font-size: 14px;
    font-weight: bold;
    font-style: italic;
    padding: 0;
    margin: 15px 0 5px;
}

dl dt:first-child {
    padding: 0;
}

dl dt>:first-child {
    margin-top: 0px;
}

dl dt>:last-child {
    margin-bottom: 0px;
}

dl dd {
    margin: 0 0 15px;
    padding: 0 15px;
}

dl dd>:first-child {
    margin-top: 0px;
}

dl dd>:last-child {
    margin-bottom: 0px;
}


strong {
    font-weight: bold;
}

/* Unordered Lists */

ul {
    list-style: none;
    list-style-position: inside;
    color:  #bdc3c6;
    font-size: 15px;
    text-align: left;
    margin-top: 21px;
}

ul li {
    border-top: 1px dotted #bdc3c6;
    padding: 16px 16px 16px 26px;
    background: url('https://d2g7ua7d94r3fl.cloudfront.net/assets/images/guides/dot-7ab0d956.png') no-repeat left 4px center;
}

ul span {
    color:  #ffffff;
    font-weight: bold;
}


ul li:first-child {
    border-top: none;
}

/* ordered lists */

ol {
    list-style: none;
    list-style-position: inside;
    color:  #bdc3c6;
    font-size: 15px;
    text-align: left;
    counter-reset: item;
    margin-top: 21px;
}
ol li {
    border-top: 1px dotted #bdc3c6;
    padding: 16px;
}

ol li:first-child {
    border-top: none;
}

ol li:before {
    font-family: 'Open Sans', sans-serif;
    color:  #ffffff;
    font-size: 15px;
    font-weight: normal;
    margin-right: 6px;
    content: counter(item) ".";
    counter-increment: item;
}


/* standard tables */
table {
    font-family: "Open Sans", sans-serif;
    width: 100%;
    margin: 33px auto;
    border-collapse: collapse;
}

table th {
    height: 56px;
    background: #1d1d1d;
    text-transform: uppercase;
    text-align: center;
    color: #ffffff;
    line-height: 56px;
    font-size: 14px;
    font-weight: normal;
    border: none;
    padding: 6px 13px;
}
table th:nth-of-type(odd) {
    background: #007cba;
}
table th:nth-of-type(even) {
    background: #006aa0;
}
table th:nth-of-type(3n+3) {
    background: #005a87;
}
table td {
    padding: 20px;
    text-align: center;
    vertical-align: middle;
    color: #1c1c1c;
    min-width: 120px;
    font-size: 14px;
    border: none;
    border-right: 1px dashed #1d1d1d;
}
table td:last-child {
    text-align: justify;
    border-right: none;
}
table tr:nth-child(even) {
    background: #deeef8;
}
table tr:nth-child(odd) {
    background: #ffffff;
}

table code {
    background-color: #F7F7FA;
}

img {
    max-width: 100%;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

pre {
    padding: 1em;
    overflow: auto;
    background-color: #FFFFFF;
    border: 15px solid #5C5C5C;
    color: #5E5E5E;
}

pre code,
pre code.highlight,
pre tt {
    font-family: "Source Code Pro", Monaco, Menlo, Consolas, "Courier New", monospace;
    font-size: 13px;
    line-height: 23px;
    background: none;
    display: block;
    color: #5E5E5E;
}

pre code::before,
pre code.highlight::before,
pre tt::before,
pre code::after,
pre code.highlight::after,
pre tt::after {
    content: '';
}

code,
tt {
    padding: 0;
    padding-top: 2px;
    padding-bottom: 0.1em;
    margin: 0;
    background-color: #323333;
    font-size: 12px;
    font-family: "Source Code Pro", Monaco, Menlo, Consolas, "Courier New", monospace;
    line-height: 23px;
    border-radius: 2px;
}

tt::before,
tt::after,
code::after,
code::before {
    letter-spacing: -0.2em;
    content: "\00a0"
}

a {
    font-weight: light;
    color: #5396BE;
}

/* highilight css */
/*

github.com style (c) Vasily Polovnyov <vast@whiteants.net>

*/

.hljs {
    display: block;
    overflow-x: auto;
    padding: 0.5em;
    color: #333;
    background: #f8f8f8;
    -webkit-text-size-adjust: none;
}

.hljs-comment,
.hljs-template_comment,
.diff .hljs-header,
.hljs-javadoc {
    color: #998;
    font-style: italic;
}

.hljs-keyword,
.css .rule .hljs-keyword,
.hljs-winutils,
.javascript .hljs-title,
.nginx .hljs-title,
.hljs-subst,
.hljs-request,
.hljs-status {
    color: #333;
    font-weight: bold;
}

.hljs-number,
.hljs-hexcolor,
.ruby .hljs-constant {
    color: #008080;
}

.hljs-string,
.hljs-tag .hljs-value,
.hljs-phpdoc,
.hljs-dartdoc,
.tex .hljs-formula {
    color: #d14;
}

.hljs-title,
.hljs-id,
.scss .hljs-preprocessor {
    color: #900;
    font-weight: bold;
}

.javascript .hljs-title,
.hljs-list .hljs-keyword,
.hljs-subst {
    font-weight: normal;
}

.hljs-class .hljs-title,
.hljs-type,
.vhdl .hljs-literal,
.tex .hljs-command {
    color: #458;
    font-weight: bold;
}

.hljs-tag,
.hljs-tag .hljs-title,
.hljs-rules .hljs-property,
.django .hljs-tag .hljs-keyword {
    color: #000080;
    font-weight: normal;
}

.hljs-attribute,
.hljs-variable,
.lisp .hljs-body {
    color: #008080;
}

.hljs-regexp {
    color: #009926;
}

.hljs-symbol,
.ruby .hljs-symbol .hljs-string,
.lisp .hljs-keyword,
.clojure .hljs-keyword,
.scheme .hljs-keyword,
.tex .hljs-special,
.hljs-prompt {
    color: #990073;
}

.hljs-built_in {
    color: #0086b3;
}

.hljs-preprocessor,
.hljs-pragma,
.hljs-pi,
.hljs-doctype,
.hljs-shebang,
.hljs-cdata {
    color: #999;
    font-weight: bold;
}

.hljs-deletion {
    background: #fdd;
}

.hljs-addition {
    background: #dfd;
}

.diff .hljs-change {
    background: #0086b3;
}

.hljs-chunk {
    color: #aaa;
}



/* Codio Blocks */

blockquote h1,
blockquote h2,
blockquote h3,
blockquote h4,
blockquote h5,
blockquote h6,
.codio-info h1,
.codio-info h2,
.codio-info h3,
.codio-info h4,
.codio-info h5,
.codio-info h6,
.codio-definition h1,
.codio-definition h2,
.codio-definition h3,
.codio-definition h4,
.codio-definition h5,
.codio-definition h6,
.codio-important h1,
.codio-important h2,
.codio-important h3,
.codio-important h4,
.codio-important h5,
.codio-important h6,
.codio-topic h1,
.codio-topic h2,
.codio-topic h3,
.codio-topic h4,
.codio-topic h5,
.codio-topic h6,
.codio-challenge h1,
.codio-challenge h2,
.codio-challenge h3,
.codio-challenge h4,
.codio-challenge h5,
.codio-challenge h6,
.codio-warning h1,
.codio-warning h2,
.codio-warning h3,
.codio-warning h4,
.codio-warning h5,
.codio-warning h6,
.codio-guidance h1,
.codio-guidance h2,
.codio-guidance h3,
.codio-guidance h4,
.codio-guidance h5,
.codio-guidance h6
{
    font-size: 20px;
    line-height: 26px;
    margin: 0;
    padding: 0;
    margin-bottom: 10px;
    background: none;
}

blockquote>:first-child {
    margin-top: 0px;
}

blockquote>:last-child {
    margin-bottom: 0px;
}

blockquote,
.codio-definition,
.codio-warning,
.codio-important,
.codio-topic,
.codio-challenge,
.codio-info,
.codio-guidance {
    background-color: #444647;
    position: relative;
    margin: 50px 0 0;
}

blockquote,
.codio-definition,
.codio-warning,
.codio-important,
.codio-topic,
.codio-challenge,
.codio-info,
.codio-guidance {
    padding: 18px 32px;
    color:  #bdc3c6;
    font-size: 16px;
    font-weight: normal;
    text-align: left;
}

blockquote:before,
.codio-warning:before,
.codio-definition:before,
.codio-important:before,
.codio-topic:before,
.codio-challenge:before,
.codio-info:before,
.codio-guidance:before{
    content: url("https://d2g7ua7d94r3fl.cloudfront.net/assets/images/guides/quote-info-432bba99.png");
    width: 52px;
    height: 52px;
    position: absolute;
    top: -27px;
    left: -24px;
}

blockquote:before {
    content: url("https://d2g7ua7d94r3fl.cloudfront.net/assets/images/guides/quote-quote-ac6edd2e.png");
}

.codio-definition:before {
    content: url("https://d2g7ua7d94r3fl.cloudfront.net/assets/images/guides/quote-definition-6818a79f.png");
}

.codio-warning:before {
    content: url("https://d2g7ua7d94r3fl.cloudfront.net/assets/images/guides/quote-warning-ebe198bd.png");
}

.codio-topic:before {
    content: url("https://d2g7ua7d94r3fl.cloudfront.net/assets/images/guides/quote-topic-4355b936.png");
}

.codio-challenge:before {
    content: url("https://d2g7ua7d94r3fl.cloudfront.net/assets/images/guides/quote-challenge-d6a8a031.png");
}

.codio-guidance:before {
    content: url("https://d2g7ua7d94r3fl.cloudfront.net/assets/images/guides/quote-guidance-4a53f091.png");
}


/* image-table */

.codio-image-table {

}

.codio-image-table h3 {

    font-family: 'Open Sans', sans-serif;
    color:  #ffffff;
    font-size: 16px;
    font-weight: normal;
    text-align: center;
    padding-top: 21px;
    padding-bottom: 21px;
    background-color: #222324;
    margin: 33px 0 13px 0;
}

/* image */

.codio-image {
    border: 28px solid #FFFFFF;
    max-width: 499px;
    margin: 15px 0;
}

.codio-image img {
    border: none;
}

.codio-image p {
    margin: 0;
}

.codio-image p + p {
    font-family: 'Open Sans', sans-serif;
    color:  #ffffff;
    font-size: 16px;
    font-weight: normal;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: #222324;
    margin: 0;
}

/* interactive table */
.codio-interactive-table {
}

/* codio button */
a.codio-button {
    display: inline-block;
    padding: 4px 18px 2px;
    font-weight: 600;
    font-size: 12px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background: #69c4c7;
    border-radius: 5px;
    color: #000000;
    text-transform: uppercase;
    border: 1px solid #000000;
    text-decoration: none;
    margin-left: auto;
    margin-right: auto;
}
p.codio-button-result {
    display: none;
}

p.codio-button-result > p,
p.codio-button-result > div,
p.codio-button-result > pre {
    padding: 1em;
    white-space: pre-wrap;
    overflow: auto;
    background-color: #FFFFFF;
    border: 15px solid #5C5C5C;
    color: #5E5E5E;
}

p.codio-button-result.progress,
p.codio-button-result.fail,
p.codio-button-result.pass,
p.codio-button-result.invalid {
    display: block;
    position: relative;
    margin-top: 32px;
}

p.codio-button-result.progress:before,
p.codio-button-result.fail:before,
p.codio-button-result.pass:before,
p.codio-button-result.invalid:before {
    content: url("https://d2g7ua7d94r3fl.cloudfront.net/assets/images/guides/button-progress-de5ac9d8.png");
    width: 51px;
    height: 52px;
    position: absolute;
    top: -21px;
    left: -20px;
}

p.codio-button-result.pass:before {
    content: url("https://d2g7ua7d94r3fl.cloudfront.net/assets/images/guides/button-success-c565aa85.png");
}
p.codio-button-result.fail:before {
    content: url("https://d2g7ua7d94r3fl.cloudfront.net/assets/images/guides/button-fail-e497d6b7.png");
}
p.codio-button-result.invalid:before {
    content: url("https://d2g7ua7d94r3fl.cloudfront.net/assets/images/guides/button-error-360bbd5c.png");
}

/* Disable Typekit flash */

.wf-loading h1,
.wf-loading h2,
.wf-loading h3,
.wf-loading p,
.wf-loading code
{
    visibility: hidden;
}

.wf-active h1,
.wf-active h2,
.wf-active h3,
.wf-active p,
.wf-active code {
    visibility: visible;
}