<div>
  <div id="game">
    <img id="bg" src="princess/img/castle.jpg" alt=""/>
    <img id="princess"  src="princess/img/princess.png"/>
    <p id="text">Once upon a time there lived a beautiful princess <b>in a castle</b>.</p>
  </div>
</div>

