<div>
  <div id="game">
    <select id="bg-value"  class="basic"  onchange="changeBGVar()">
      <option value="1">1 (castle)</option>
      <option value="2">2 (mountain)</option>
      <option value="3">3 (Gingerbread house)</option>
    </select>
    <img id="bg" src="princess/img/castle.jpg" alt=""/>
    <img id="princess"  src="princess/img/princess.png"/>
    <p id="text">Once upon a time there lived a beautiful princess <b>in a castle</b>.</p>
  </div>

</div>

