
div#game {
  position: relative;
  max-width: 550px;
  margin: 20px auto;
  text-align: center;
}

div#game p {
  position: absolute;  
  color: white;
  margin: 0 auto;
  top: 68px;
  left: 40px;
  width: 430px;
  border-radius: 10px;
  font-family: 'Miss Fajardose', cursive;
  font-size: 52px;
  font-weight: normal;
  line-height: 0.7em;
  padding: 22px 30px 22px 12px;
  background-color: #4c7099;
  opacity:0.8;  
}

img#princess {
  position: absolute;
  top: 182px;
  left: 271px;
}

html, body {
  height: 100%;
  margin: 0px; padding: 0px;
  background-color: #fff;
  font-family: sans-serif;
  margin-top: 0;
  margin-bottom: 0;
}

h1 {
  font-weight: normal;
  font-size: 140%;
}


