html, body {
  height: 100%;
  margin: 0px; padding: 0px;
  background-color: #fff;
  font-family: sans-serif;
  margin-top: 0;
  margin-bottom: 0;
}

h1 {
  font-weight: normal;
  font-size: 140%;
}

iframe {
  width: 100%;
  height: 100%;
  border: none;
}

.main {
  width: 100%;
  height:100%;
  overflow:auto;
  overflow-y:hidden;
  overflow-x:hidden;
}

.partition {
  width: 100%;
  height: 50%;
}

.txt {
  font-family: Arial;
  color: #fff;
  font-size: 15px;
}

.label {
  padding:10px;
  width: 100%;
  text-align: center;
}

#toolboxLabel {
  float:left;
  width:0px;
  background-color: #393939;
}

#instructionsLabel {
  float:left;
  width:100%;
  background-color: #345475;
}

#contentPartition {
  border-color: #ccc;
  border-top-style: solid;
  border-width: 3px;
  height: 100%;
}

#codePartition {
  height: 0px;
  display: none;
}

#codeContainer {
  width: 100%;
  height: 100%;
  position: relative;
}

#blockly-area {
  height: 100%;
}

#buttonContainer {
  position: absolute;
  z-index: 10;
  right: 0;
  bottom: 0;
  padding-bottom: 10px;
  padding-right: 10px;
}

.buttonPosition {
  float: right;
  padding-left: 10px;
}

.labelBox {
  display: flex;
  flex-flow: column;
  width: 100%;
  height:100%;
  background-color: #ccc;
}

.labelBox.row {
  flex: 0 1 auto;
}

.labelBox.row.header {
  flex: 0 1 40px;
}

.labelBox.row.content {
  flex: 1 1 auto;
}

.btn {
  -webkit-user-select: none; /* Chrome/Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */
  -webkit-border-radius: 7;
  -moz-border-radius: 7;
  border-radius: 7px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  cursor: pointer;
}

.btnRun {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #345475, #345475);
  background-image: -moz-linear-gradient(top, #345475, #345475);
  background-image: -ms-linear-gradient(top, #345475, #345475);
  background-image: -o-linear-gradient(top, #345475, #345475);
  background-image: linear-gradient(to bottom, 345475, #345475);
}

.btnRun:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

.btnShow {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #393939, #393939);
  background-image: -moz-linear-gradient(top, #393939, #393939);
  background-image: -ms-linear-gradient(top, #393939, #393939);
  background-image: -o-linear-gradient(top, #393939, #393939);
  background-image: linear-gradient(to bottom, #393939, #393939);
}

.btnShow:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

#contentContainer {
  height: 100%;
  background-image: url('../img/texture.jpg');
  background-repeat: repeat;
}

.double-border {
  background-color: #fff;
  border: 2px solid #ccc;
  padding: 10px;
  position: relative;
  margin: 0 auto;
  display: block;
  margin: auto;
}

.double-border:before {
  background: none;
  border: 2px solid #fff;
  content: "";
  display: block;
  position: absolute;
  top: 4px;
  left: 4px;
  right: 4px;
  bottom: 4px;
  pointer-events: none;
}
/*
 * 1. `height` is needed for IE10-11 for this bug
 *    http://bit.ly/16b1Xhx
 * 2. Other browser use `min-height`.
 */

.aligner {
  display: flex;
  align-items: center;
  height: 24em; /* 1 */
  justify-content: center;
  height: 100%;
}
@supports not (-ms-flex: 1) {
  .aligner {
    height: 100%;
    min-height: 24em; /* 2 */
  }
}

.aligner-item {
  flex: 1;
}

.aligner-item--top {
  align-self: flex-start;
}

.aligner-item--bottom {
  align-self: flex-end;
}

.aligner-item--fixed {
  flex: none;
}
